@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Nunito&display=swap');
body{
  margin: 0;
}
.app{
  font-family: 'kalam';
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote{
  background-color: #fff;
  padding: 2.2rem;
  border-radius: 0.7rem;
  box-shadow: 2px 1px 20px rgba(0,0,0,0.7);
  transition: all 0.6s ease-in-out;
  position: relative;
  font-size: 1.2rem;
}
.quote>div{
  display: flex;
  align-items: flex-start;
}
.quote>div i{
  font-size: 3rem;
  margin-right: 10px;
}
.quote>div p{
  margin-top: 5px;
}

.quote h4{
  font-family: "nunito";
  text-align: right;
}
.boton{
  border: 0;
  width: 3.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  padding: 0.5rem;
  color:white;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  left: calc(100% - 3.5rem);
}
.boton:hover{
  box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
}

@media  (max-width:600px) {
  .quote{
    padding: 1rem;
    font-size: 1.5rem;
  }
  .quote>div i{
    font-size: 1.2rem
  }
}